{% extends 'base.html.twig' %}

{% block cath1 %}Home {% endblock %}
{% block h1 %}Dashboard {% endblock %}

{% block body %}

    <div class="col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body" style="position: relative;">
                <div id="chart-demo-pie" class="chart-lg"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        window.ApexCharts && (new ApexCharts(document.getElementById('chart-demo-pie'), {
                            chart: {
                                type: "donut",
                                fontFamily: 'inherit',
                                height: 240,
                                sparkline: {
                                    enabled: true
                                },
                                animations: {
                                    enabled: false
                                },
                            },
                            fill: {
                                opacity: 1,
                            },
                            series: [   {# todo one foreach plz  #}
                                {% for invest in investissements %}
                                    {{ invest.totalValue }},
                                {% endfor %}
                            ],
                            labels: [

                                {% for invest in investissements %}
                                    "{{ invest.name }}",
                                {% endfor %}

                                ],
                            grid: {
                                strokeDashArray: 4,
                            },
                            colors: ["#206bc4", "#79a6dc", "#d2e1f3", "#e9ecf1"],
                            legend: {
                                show: true,
                                position: 'bottom',
                                offsetY: 12,
                                markers: {
                                    width: 10,
                                    height: 10,
                                    radius: 100,
                                },
                                itemMargin: {
                                    horizontal: 8,
                                    vertical: 8
                                },
                            },
                            tooltip: {
                                fillSeriesColor: false
                            },
                        })).render();
                    });
                </script>

            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body" style="position: relative;">
                <div id="chart-demo-area" class="chart-lg"></div>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        window.ApexCharts && (new ApexCharts(document.getElementById('chart-demo-area'), {
                            chart: {
                                type: "area",
                                fontFamily: 'inherit',
                                height: 240,
                                parentHeightOffset: 0,
                                toolbar: {
                                    show: false,
                                },
                                animations: {
                                    enabled: false
                                },
                            },
                            dataLabels: {
                                enabled: false,
                            },
                            fill: {
                                opacity: .16,
                                type: 'solid'
                            },
                            stroke: {
                                width: 2,
                                lineCap: "round",
                                curve: "smooth",
                            },
                            series: [{
                                name: "total value",
                                data: [0, 10, 30, 70]
                            }],
                            grid: {
                                padding: {
                                    top: -20,
                                    right: 0,
                                    left: -4,
                                    bottom: -4
                                },
                                strokeDashArray: 4,
                            },
                            xaxis: {
                                labels: {
                                    padding: 0,
                                },
                                tooltip: {
                                    enabled: false
                                },
                                axisBorder: {
                                    show: false,
                                },
                                type: 'date',
                            },
                            yaxis: {
                                labels: {
                                    padding: 4
                                },
                            },
                            labels: [
                                '2018', '2019', '2020', '2021'
                            ],
                            colors: ["#206bc4", "#a55eea"],
                            legend: {
                                show: true,
                                position: 'bottom',
                                offsetY: 12,
                                markers: {
                                    width: 10,
                                    height: 10,
                                    radius: 100,
                                },
                                itemMargin: {
                                    horizontal: 8,
                                    vertical: 8
                                },
                            },
                        })).render();
                    });
                </script>
            </div>
        </div>
    </div>

    <div style="margin: 0.5rem"></div>

    {# LIST DES INVESTISSEMENT #}
    {% include('inc/investList.html.twig') %}






{% endblock %}

{% block title %}{{ parent() }} | Home{% endblock %}