{% extends 'base.html.twig' %}

{% block cath1 %}Stats {% endblock %}
{% block h1 %}Home {% endblock %}

{% block body %}

    <h3>Coming soon :)</h3>

{% endblock %}

{% block title %}{{ parent() }} | Stats{% endblock %}