{% if app.request.pathinfo == "/login" or app.request.pathinfo == "/register" %}

{% else %}
    <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
            <div class="col-12 col-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        &copy; {{ "now"|date("Y") }} Limousine By <a href="https://www.remi-champlon.fr/" target="_blank">Rémi Champlon</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
{% endif %}
